{% extends '../layout.html' %}

{% block title %}{{ title | default('Dashboard - Conitor')}} {% endblock title%}

{% block nav %}
<nav class="navbar navbar-default" id="nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#wiesler-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-stats" style="color:red;"></span> Conitor</a>
        </div>
        <nav class="collapse navbar-collapse" id="wiesler-nav">
            <ul class="nav navbar-nav">
                <li  class = "active" >
                    <a href="/heartbeat"><span class="glyphicon glyphicon-dashboard"></span> 仪表盘</a>
                </li>
                <!-- <li >
                    <a href="/newslist"><span class="glyphicon glyphicon-align-justify"></span> 新闻列表</a>
                </li>
                <li >
                    <a href="/search"><span class="glyphicon glyphicon-search"></span> 搜索</a>
                </li>
                <li >
                    <a href="/analysis"><span class="glyphicon glyphicon-cloud"></span> 分析</a>
                </li>
                <li >
                    <a href="/corpus"><span class="glyphicon glyphicon-cloud"></span> 语料</a>
                </li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> {{ username|default('None') }}已登录 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> 设置</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</nav>
{% endblock nav%}
