<nav>
    <ul class="pagination">
        <li class="active"><a href="#" data-page="1" class="ajaxpagination">1</a></li>
        <li><a href="#" data-page="2" class="ajaxpagination">2</a></li>
        <li><a href="#" data-page="3" class="ajaxpagination">3</a></li>
        <li><a href="#" data-page="4" class="ajaxpagination">4</a></li>
        <li><a href="#" data-page="5" class="ajaxpagination">5</a></li>
        <li><a href="#" data-page="6" class="ajaxpagination">6</a></li>
        <li><a href="#" data-page="7" class="ajaxpagination">7</a></li>
        <li><a href="#" data-page="8" class="ajaxpagination">8</a></li>
        <li><a href="?query={{querystring|default:""}}&page={{ page|add:1 }}">&raquo;</a></li>
    </ul>
</nav>